.padre
{
    padding: 5px;
    background-color: azure;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: "header  header  header"
                         "nav     nav     nav"
                         "cont1   cont2   cont3"
                         "foot    foot    foot";
}
.padre .header
{
    grid-area: header;
}
.padre .nav
{
    grid-area: nav;
}
.padre .cont1
{
    grid-area: cont1;
}
.padre .cont2
{
    grid-area: cont2;
}
.padre .cont3
{
    grid-area: cont3;
}
.padre .foot
{
    grid-area: foot;
}